<section id="home">
  <div class="homeInner">
    <div class="postCards">

      <div class="postCardTitle">
        <article>
          <h1>Inicio</h1>
        </article>
      </div>

      <div class="postCard">
        <article>
          <div class="postCardInner">
            <div class="postCardImage">
              <img src="./assets/images/test/profilePic.jpg" alt="profilePic">
            </div>
            <div class="postCardInfo">
              <div class="postCardInfoTop">
                <h2 class="postCardInfoTopName">Antony Morales</h2>
                <p class="postCardInfoTopUsername">@antony999k</p>

              </div>
              <div class="postCardInfoText">
                <p>Este es mi primer post en colibrí lñalaksdnalkdnlas dlasdnlaksndlk asndlanskdkl asdnalksdnlasndla</p>
              </div>
            </div>
          </div>
        </article>
      </div>

    </div>

  </div>
</section>