<div class="profile">
    <div class="profileHeader">
        <img src="./assets/images/test/bg.jpg" alt="BackgroundImage">
    </div>

    <div class="profileInfo">
        <div class="profileInfoPic">
            <img src="./assets/images/test/profilePic.jpg" alt="profilePic">
        </div>
        <h2 class="profileInfoName">Antony Morales</h2>
        <p class="profileInfoUsername">@Antony999k</p>
        <p class="profileInfoDescription">Transformando algo de café en código</p>
        <div class="profileInfoStats">
            <p class="profileInfoStatsFollowers">4000 <span>Seguidores</span> </p>
            <p class="profileInfoStatsFollowing">1231 <span>Siguiendo</span> </p>
        </div>
    </div>

</div>