<section class="login">
    <div class="loginInner">
        <h1>Iniciar Sesión</h1>
        <form class="formCredentials" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input type="text" name="usuario" placeholder="Usuario" formControlName="username">

            <input type="password" name="contraseña" placeholder="Contraseña" formControlName="password">
            
            <button type="submit" title="Completa los datos"><p *ngIf="!isLoading">Iniciar Sesión</p></button>
        </form>

        <a routerLink="/registro">Regístrate</a>
    </div>
</section>